.problemWrapper
{
    position:absolute;
    z-index:201;
    visibility:hidden;
    width:600px;
	min-width:500px;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	margin-top:200px;
	box-shadow: 0px 0px 3px #68B4DF;
	background-color:white;
}

.problemDiv
{
	padding-top:2%;
	padding-bottom:2%;
	width:90%;
	margin:0 auto;
	font-family:Ubuntu-title, sans-serif;
	font-size:1em;
}

.hidePreviewDiv
{
    position:absolute;
    z-index:201;
    color:grey;
    cursor:pointer;
    font-size:.75em;
    margin-top:3px;
    margin-left:5px;
}

.mathSpan
{
	visibility:hidden;
}

.answerButtonDiv
{
	font-family:Ubuntu, sans-serif;
	font-size:1em;
	color:#68B4DF;
	cursor:pointer;
	position:absolute;
	margin-left:540px;
	margin-top:-23px;
}

.actualAnswer
{
	visibility:hidden;
	/*color:#68B4DF;*/
	font-size:1em;
	padding:10px;
	white-space:no-wrap;
	box-shadow: 0px 0px 3px #68B4DF;
	opacity:100%;
	background-color:white;
	/*position:relative;
	float:right;
	margin-top:-15px;
	margin-right:10px;*/
	position:absolute;
	margin-left:560px;
	margin-top:5px;
	z-index:201;
}

.arrowRight
{
	position:absolute;
	width:0;
	height:0;
	border-top:30px solid transparent;
	border-bottom:30px solid transparent;
	border-left:30px solid #E0E0E0;
	float:left;
	right:-45px;
	bottom:10px;
	cursor:pointer;
	z-index:201;
}

#arrowDiv:hover
{
	border-left:30px solid #68B4DF;
}

.titleInput
{
	/*position:absolute;
	top:50px;
	left:165px;*/
	display:inline-block;
	font-size:1.5em;
	margin-bottom:10px;
}

.greyOut
{
    position:fixed;
    visibility:hidden;
    opacity:.5;
    background-color:#FDFDFD;
    z-index:100;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.showHelpDiv
{
    font-size:.75em;
	color:grey;
	cursor:pointer;
	position:absolute;
	display:inline-block;
	margin-left:500px;
	margin-left:395px;
	margin-top:-30px;
}

.codeElement
{
    visibility:hidden;
    position:absolute;
    margin-left:480px;
	margin-top:-545px;
	text-align:left;
}

.titleInput:focus
{
	outline:none !important;
	border: 2px solid #68B4DF;
	box-shadow:0 0 1px #68B4DF;
}

.wrapperDiv
{
    text-align:center;
    margin-top:65px;
    white-space:nowrap;
}

.textDiv
{
    display:inline-block;
    width: 450px;
	/*position:absolute;
	width: 450px;
	margin-top:65px;
	margin-left:150px;*/
}

.codeDiv
{
    display:inline-block;
    text-align:left;
    margin-left:25px;
	/*position:absolute;
	margin-top:65px;
	margin-left:630px;*/
}

.submitButton
{
	color:#0099FF;
	background:white;
	font-weight:bold;
	font-family:Ubuntu;
	border:none;
	cursor:pointer;
	width:90px;
	height:25px;
	font-size:1.25em;
	display:inline-block;
	margin-top:10px;
	box-shadow: 0px 0px 1px #68B4DF;
}

.previewButton
{
    color:grey;
	/*color:#0099FF;*/
	background:white;
	font-weight:bold;
	font-family:Ubuntu;
	border:none;
	cursor:pointer;
	width:90px;
	height:25px;
	font-size:1.25em;
	display:inline-block;
	/*box-shadow: 0px 0px 1px #68B4DF;*/
	margin-top:25px;
}
